.task button {
    background: transparent;
    border: 0;
    color: var(--gray300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
}

.task button:hover {
    color: var(--red-500);
}

.task p {
    border: 0;
    background: var(--gray-500);
    color: var(--gray-100);
    font-size: 0.875rem;
    line-height: 1.18rem;
    width: 100%;
} 

p.textCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
}

/* COMPONENTE DE CADA TAREFA */
.task {
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    margin-top: 0.75rem;
   
}

/* ESTILIZAÇÃO DA DIV CHECKED */
.checkContainer {
    min-width: 1.4rem;
    height: 1.4rem;
    background: none;
    border: none;
}

.checkContainer div {
    width: 100%;
    height: 100%;
    border: 2px solid var(--blue-300);
    border-radius: 50%;
}
 
.checkContainer svg {
    width: 100%;
    height: 100%;
    color: var(--purple-300);
}


